<div class="navbar">
  <h2>Stems</h2>

  <div class="topnav">
    <a class="menu-item" href="/">HOME</a>
    <a class="menu-item" href="/corporate">CORPORATE</a>
    <a class="menu-item" href="/weddings">WEDDINGS</a>
    <a class="menu-item" href="/funerals">FUNERALS</a>
    <a class="menu-item" href="/weddings">GIFTWARE</a>
    <a class="menu-item" href="/weddings">ABOUT</a>
    <a class="menu-item" href="/weddings">CONTACT</a>
  </div>

</div>
